.container
{   display: flex;
    background-color: black;
}
.left
{
    width: 50%;
    height: 100%;
    flex: 1;
}
.right
{
    width: 50%;
    height: 100%;
    flex: 1;
}
.image-one
{
    width: 100%;
    height: 752px;
}
.image-two
{
    width: 100%;
    height: 752px;
}
h1
{
    color: rgb(218, 31, 31);
    position: absolute;
    top: 60px;
    left: 42.5%;
    font-family: 'Press Start 2P', cursive;
}
#or
{
    margin-left: 85px;
}
#closer-text
{
    margin-left: 20px;
}
#middlecirle
{
    position: absolute;
    background-color: rgb(77, 77, 238);
    width: 90px;
    height: 90px;
    top: 44%;
    left: 47%;
    border-radius: 50%;
}
#circle-text
{
    color: aliceblue;
    position: absolute;
    top: 31%;
    left: 36%;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#left-text
{
    position: absolute;
    top: 43%;
    left: 22%;
    font:20px;
    color: aliceblue;
    line-height: 8px;
    text-align: center;
}
#is,#away
{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}
#title-text-left
{
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 800;
}
#distance
{
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center; 
}

#right-text
{
    position: absolute;
    top: 43%;
    right:22%;
    font:20px;
    color: aliceblue;
    line-height: 8px;
    text-align: center;
}

#title-text-right
{
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-weight: 800;
}
.button-holder
{
    position: absolute;
    right: 23%;
    bottom: 20%;
    line-height: 60px;
}
#further,#closer
{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: rgb(137, 137, 244);
    transition: 0.15s;
    opacity: 0.8;
}
#closer
{
    margin-left: -1px;
}
#button-text
{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#further:hover,#closer:hover
{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: rgb(14, 14, 126);
    color: azure;
}